model_outputs/results_batch_api_openai_gpt-4o-mini-2024-07-18.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_llama-3.1-8b-instruct.1s.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_llama-3.1-8b-instruct.zs.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_qwen2-5-7b-instruct_sp.1s.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_qwen2-5-7b-instruct_sp.zs.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_qwen2-5-7b-instruct.1s.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_qwen2-5-7b-instruct.zs.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_qwen2-5-14b-instruct.1s.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_qwen2-5-14b-instruct.zs.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_qwen2-5-32b-instruct.1s.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_qwen2-5-32b-instruct.zs.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_qwen2-5-72b-instruct.1s.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_qwen2-5-72b-instruct.zs.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_deepseek-r1-distill-14b.1s.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_deepseek-r1-distill-14b.zs.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_gemma-2-9b-it.1s.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_gemma-2-9b-it.zs.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_gemma-2-27b-it.1s.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_gemma-2-27b-it.zs.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_llama-3.1-70b-instruct.1s.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_llama-3.1-70b-instruct.zs.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_llama-3.3-70b-instruct.1s.jsonl filter=lfs diff=lfs merge=lfs -text
model_outputs/results_llama-3.3-70b-instruct.zs.jsonl filter=lfs diff=lfs merge=lfs -text
